.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

/* .sidebar-heading {
  font-size: .75rem;
} */


/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}
#viewDiv {
  padding: 0;
  margin: 0;
  height: 70%;
  width: 100%;
}
#getShapefile, #shapeinputlabel, #result_block {
  margin-left: 0.6 rem !important;
  font-size: 1 rem;
 

}

#divLayerlist{
  font-weight: 500;
}

#divLayerlist, #resultBlock {
  margin:10px 0px 0px 10px;  
}


.sidebar-heading {
  font-size: 1rem;
  color: #2470dc;
  margin-left: 15px!important;
  margin:10px 0 10px 15px;
  /* margin top right bottom left */
}

.esri-layer-list__item-content {
  font-weight: 500;
}
